<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Application Login</title>
  <style>
    body{
      background-color: rgba(52, 48, 48, 0.964);}
      button{
  border: none;
  background: #ea1538;
  padding: 12px 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: .4s;
  border-radius: 25px;

}
button:hover{
  transform: scale(1.1);
  cursor: pointer;

}
  </style>
</head>
<body>
  <center>
  <h1>Login Form</h1>
  <form action="" method="post">
    {{form.as_p}}
    {%csrf_token%}
    <button class="button"> Login</button>
  </form>
  </center>
  
</body>
</html>